<div>
    <h2 id="page-heading">
        <span jhiTranslate="librariusApp.gear.home.title">Gears</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-gear-lbr" [routerLink]="['/gear-lbr/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="librariusApp.gear.home.createLabel">
            Create a new Gear
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'librariusApp.gear.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="gears?.length === 0">
        <span jhiTranslate="librariusApp.gear.home.notFound">No gears found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="gears?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="gearName"><span jhiTranslate="librariusApp.gear.gearName">Gear Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="pointValue"><span jhiTranslate="librariusApp.gear.pointValue">Point Value</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="type"><span jhiTranslate="librariusApp.gear.type">Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="f"><span jhiTranslate="librariusApp.gear.f">F</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="range"><span jhiTranslate="librariusApp.gear.range">Range</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="pa"><span jhiTranslate="librariusApp.gear.pa">Pa</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="d"><span jhiTranslate="librariusApp.gear.d">D</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let gear of gears ;trackBy: trackId">
                    <td><a [routerLink]="['/gear-lbr', gear.id, 'view']">{{ gear.id }}</a></td>
                    <td>{{ gear.gearName }}</td>
                    <td>{{ gear.pointValue }}</td>
                    <td>{{ gear.type }}</td>
                    <td>{{ gear.f }}</td>
                    <td>{{ gear.range }}</td>
                    <td>{{ gear.pa }}</td>
                    <td>{{ gear.d }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/gear-lbr', gear.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/gear-lbr', gear.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(gear)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="gears?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
