<div class="inline-flex">
	<span>Vous avez&nbsp;{{armyList.length}} liste(s)</span>
	<button *ngIf="!showForm" type="button" class="btn btn-sm btn-primary" (click)="startCreatingNewList()">Ajouter une liste</button>
</div>
<br>
<div *ngIf="showForm" class="new-list-form">
	<div class="form-group p-grid">
        <div class="p-col-12">
            <label class="form-control-label" for="field_listName">Nom de la liste :</label>
            <input type="text" class="form-control" name="listName" id="field_listName" [(ngModel)]="newArmyList.listName" />
        </div>
        <div class="p-col-6">
            <button type="button" class="btn btn-sm btn-secondary" (click)="showForm = false;">Annuler</button>
        </div>
        <div class="p-col-6">
            <button type="button" class="btn btn-sm btn-primary" (click)="createArmyList();">Enregistrer</button>
        </div>
   </div>
</div>
<div class="p-grid army-row" *ngFor="let army of armyList">
    <div class="p-col-5 important-text">
        <a [routerLink]="['/army-list-lbr', army.id, 'view']">{{army.listName}}</a>
    </div>
    <div class="p-col-3">
        ({{army.totalPoint}} points)
    </div>
    <div class="p-col-4">
        <button type="button" class="btn btn-sm btn-danger" (click)="deleteListAndUpdateUser(army.id);">Supprimer</button>
    </div>
</div>
