<div class="p-grid" *ngIf="squadrons | async as resultSquads">
    <div class="p-col-12 important-text">&Eacute;scouade(s) : {{resultSquads.length}}</div>
    <div class="p-col-12" *ngIf="!isCreatingSquadron">
        <button class="btn btn-sm btn-primary" type="button" (click)="isCreatingSquadron = !isCreatingSquadron">
            Cr&eacute;er une escouade
        </button>
    </div>
    <div class="p-col-12" *ngIf="resultSquads.length > 0">
        <ul *ngFor="let squad of resultSquads" class="p-grid">
            <h4 class="p-col-8">{{squad.squadron.name}}</h4>
            <span class="p-col-4">
                <button type="button" class="btn btn-sm btn-danger" (click)="deleteSquad(squad)">Supprimer l'escouade</button>
            </span>
            <li *ngFor="let unitMap of squad.unitMaps" class="p-col-8 p-grid">
                <a [routerLink]="['/unit-map-lbr/view', unitMap.id]" *ngIf="unitMap.unit" class="p-col-8">{{unitMap.numberOfUnit}} x {{unitMap.unit.unitName}}</a>
                <span class="p-col-4">
                    <button type="button" class="btn btn-sm btn-danger" (click)="deleteUnitFromSquad(unitMap, squad)">Dissocier</button>
                </span>
            </li>
        </ul>
    </div>
    <div class="p-col-12 p-grid" *ngIf="isCreatingSquadron">
        <div class="p-col-12 from-group">
            <label class="form-control-label" for="field_squadronName">Nom de l'escouade :</label>
            <input type="text" class="form-control" name="squadronName" id="field_squadronName" [(ngModel)]="newSquadronName" />
        </div>
        <div class="p-col-6">
            <button type="button" (click)="newSquadronName = ''; isCreatingSquadron = false;" class="btn btn-sm btn-secondary">Annuler</button>
        </div>
        <div class="p-col-6">
            <button type="button" (click)="createSquadron()" class="btn btn-sm btn-primary">Enregistrer</button>
        </div>
    </div>
</div>
<div class="p-grid" *ngIf="!isCreatingSquadron">
    <div class="important-text info p-col-12">Unit&eacute;e(s) sans escouade :</div>
    <ul class="p-col-12" *ngIf="unitWithoutSquadron | async as noSquadUnits">
        <li *ngFor="let unitMap of noSquadUnits" class="p-grid">
           <a class="p-col-8" *ngIf="unitMap.unit" [routerLink]="['/unit-map-lbr/view', unitMap.id]">
               {{unitMap.numberOfUnit}} x {{unitMap.unit.unitName}} ({{ unitMap.numberOfUnit * (unitMap.unit.totalPoint + computeGearPoint(unitMap))}} points)
           </a>
            <span class="p-col-4">
               <button type="button" class="btn btn-sm btn-info" (click)="addUnitMapToSquadron(unitMap)">Affilier</button>
           </span>
        </li>
    </ul>
</div>
