<form *ngIf="armyList" name="associateForm" (ngSubmit)="confirmAssociate()">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="librariusApp.armyList.detail.title">{{armyList?.listName}}</h4>

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="cancel()">&times;</button>
    </div>

    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
		<div>Vous allez ajouter <b>{{unit?.unitName}}</b> dans la liste.</div>
		<div class="inline-flex">
			<span>Combien de figurine dans cette unité ?&nbsp;</span>
			<input type="number" [(ngModel)]="numberOfUnit" name="numberOfUnit"/>
		</div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button id="jhi-confirm-delete-armyList" type="submit" class="btn btn-primary">
            <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
