<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-army-list-lbr-heading" jhiTranslate="librariusApp.armyList.home.createOrEditLabel">Create or edit a Army List</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="librariusApp.armyList.listName" for="field_listName">List Name</label>
                    <input type="text" class="form-control" name="listName" id="field_listName"
                           formControlName="listName"/>
                    <div *ngIf="editForm.get('listName')!.invalid && (editForm.get('listName')!.dirty || editForm.get('listName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('listName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="librariusApp.armyList.totalPoint" for="field_totalPoint">Total Point</label>
                    <input type="number" class="form-control" name="totalPoint" id="field_totalPoint"
                           formControlName="totalPoint"/>
                </div>

                <div class="form-group">
                    <label jhiTranslate="librariusApp.armyList.armyList" for="field_armyLists">Army List</label>
                    <select class="form-control" id="field_armyLists" multiple name="armyLists" formControlName="armyLists">
                        <option [ngValue]="getSelected(editForm.get('armyLists')!.value, unitOption)" *ngFor="let unitOption of units; trackBy: trackById">{{ unitOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="librariusApp.armyList.armyLists" for="field_armyLists">Army Lists</label>
                    <select class="form-control" id="field_armyLists" name="armyLists" formControlName="armyListsId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="extendedUserOption.id" *ngFor="let extendedUserOption of extendedusers; trackBy: trackById">{{ extendedUserOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
