<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="armyList">
            <h2><span jhiTranslate="librariusApp.armyList.detail.title">Army List</span> {{ armyList.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="librariusApp.armyList.listName">List Name</span></dt>
                <dd>
                    <span>{{ armyList.listName }}</span>
                </dd>
                <dt><span jhiTranslate="librariusApp.armyList.totalPoint">Total Point</span></dt>
                <dd>
                    <span>{{ armyList.totalPoint }}</span>
                </dd>
                <dt><span jhiTranslate="librariusApp.armyList.armyList">Army List</span></dt>
                <dd>
                    <span *ngFor="let armyList of armyList.armyLists; let last = last">
                        <a [routerLink]="['/unit-lbr', armyList?.id, 'view']">{{ armyList.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span jhiTranslate="librariusApp.armyList.armyLists">Army Lists</span></dt>
                <dd>
                    <div *ngIf="armyList.armyListsId">
                        <a [routerLink]="['/extended-user-lbr', armyList.armyListsId, 'view']">{{ armyList.armyListsId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/army-list-lbr', armyList.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
