<div class="p-grid army-row" *ngFor="let unitMap of unitMaps">
    <a class="p-col-9" [routerLink]="['/unit-map-lbr/view', unitMap.id]" *ngIf="toggledGear !== unitMap.id">
        {{unitMap.numberOfUnit}} x {{unitMap.unit.unitName}} ({{ unitMap.numberOfUnit * (unitMap.unit.totalPoint + computeGearPoint(unitMap))}} points)
    </a>
    <div class="p-col-3" *ngIf="toggledGear !== unitMap.id">
        <button type="button" class="btn btn-sm btn-secondary" (click)="toggleGear(unitMap)">Options</button>
    </div>
    <div class="p-col-12 info" *ngIf="toggledGear === unitMap.id">
        {{unitMap.numberOfUnit}} x {{unitMap.unit.unitName}} ({{ unitMap.numberOfUnit * (unitMap.unit.totalPoint + computeGearPoint(unitMap))}} points)
    </div>
    <div class="p-col-12 p-grid alternate-background" *ngIf="toggledGear === unitMap.id">
        <div class="p-col-6">
            <button type="button" class="btn btn-sm btn-secondary" (click)="toggleGear(unitMap)">
                &nbsp;<span>Fermer</span>
            </button>
        </div>
        <div class="p-col-6">
            <button type="button" class="btn btn-sm btn-danger" (click)="deleteUnit(unitMap)">
                &nbsp;<span jhiTranslate="entity.action.delete">delete</span>
            </button>
        </div>
        <div class="p-col-12">
            <div *ngFor="let gear of unitMap.gears" class="p-grid">
                <span class="p-col-8">{{gear.gearName}} ({{gear.pointValue}} points)</span>
                <span class="p-col-4">
                    <button class="btn-icon btn-icon-danger" (click)="removeGearFromUnit(gear, unitMap)">
                        <span>-</span>
                    </button>
                </span>
            </div>
        </div>
        <div class="p-col-12">
            <button type="button" [routerLink]="['/gear-lbr/new']" class="btn btn-sm btn-primary">Créer un équipement</button>
        </div>
        <div class="p-col-8">
            <input placeholder="Nom de l'équipement" [(ngModel)]="gearSearch" type="text"/>
        </div>
        <div class="p-col-4">
            <button type="button" class="btn btn-sm btn-secondary" (click)="searchGear()">Chercher</button>
        </div>
        <div class="p-col-12">
            <span>R&eacute;sultat(s) : {{gearList.length}}</span>
            <ul>
                <li *ngFor="let gear of gearList" class="p-grid">
                    <span class="p-col-8">{{gear.gearName}} ({{gear.pointValue}} points)</span>
                    <span class="p-col-4">
                        <button class="btn-icon btn-icon-info" (click)="addGearToUnit(gear, unitMap)">
                            <span>+</span>
                        </button>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>
