<div [ngSwitch]="isAuthenticated()">
    <div *ngSwitchCase="true" class="responsive-container">
        <jhi-list-armies [account]="account"></jhi-list-armies>
    </div>
    <div *ngSwitchCase="false">
        <div class="inline-flex">
            <div class="btn btn-md btn-primary">
                <a class="alert-link button-connexion" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a>
            </div>
            <div class="btn btn-md btn-primary">
                <a class="alert-link button-connexion" routerLink="account/register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div>
        </div>
        <br>
        <div class="align-center">
            <span class="hipster img-fluid rounded"></span>
        </div>
    </div>
</div>
