@import 'bootstrap-variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '../../../../../node_modules/primeflex/primeflex.css';

/* ==============================================================
Bootstrap tweaks
===============================================================*/
body,
table {
  background-color: $background;
  font-size: calc(18px + 0.1rem);
}

.card,
.modal-content {
  background-color: $background;
  color: $text;
}

.bg-dark {
  background-color: $banner !important;
}

body,
h1,
h2,
h3,
h4 {
  font-weight: 300;
}

/* Increase contrast of links to get 100% on Lighthouse Accessability Audit. Override this color if you want to change the link color, or use a Bootswatch theme */
a {
  color: $info;
  font-weight: bold;
}

a:hover {
  color: $info-hover;
}

a.alert-link {
  color: $text !important;
}

a.alert-link:hover {
  color: $text-hover !important;
}

/* override hover color for dropdown-item forced by bootstrap to all a:not([href]):not([tabindex]) elements in _reboot.scss */
a:not([href]):not([tabindex]):hover.dropdown-item {
  color: $dropdown-link-hover-color;
}

/* override .dropdown-item.active background-color on hover */
.dropdown-item.active:hover {
  background-color: mix($dropdown-link-hover-bg, $dropdown-link-active-bg, 50%);
}

a:hover {
  /* make sure browsers use the pointer cursor for anchors, even with no href */
  cursor: pointer;
}

.dropdown-item:hover {
  color: $dropdown-link-hover-color;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background-color: $background;
  color: $text;
  padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Error highlight on input fields */
.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid $info;
}

.ng-invalid:not(form) {
  border-left: 5px solid $danger;
}

/* other generic styles */

.jh-card {
  padding: 1.5%;
  margin-top: 20px;
  border: none;
}

.error {
  color: white;
  background-color: $danger;
}

.pad {
  padding: 10px;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.break {
  white-space: normal;
  word-break: break-all;
}

.readonly {
  background-color: $background;
  color: $text;
  opacity: 1;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  background-color: $background;
  color: $text;
}

.hand,
[jhisortby] {
  cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
  .alert {
    text-overflow: ellipsis;
    pre {
      background: none;
      border: none;
      font: inherit;
      color: inherit;
      padding: 0;
      margin: 0;
    }
    .popover pre {
      font-size: 10px;
    }
  }
  .jhi-toast {
    position: fixed;
    width: 100%;
    &.left {
      left: 5px;
    }
    &.right {
      right: 5px;
    }
    &.top {
      top: 55px;
    }
    &.bottom {
      bottom: 55px;
    }
  }
}

@media screen and (min-width: 480px) {
  .alerts .jhi-toast {
    width: 50%;
  }
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > {
  dd {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .row.jh-entity-details > {
    dt {
      margin-bottom: 15px;
    }
    dd {
      border-bottom: 1px solid #67574c;
      padding-left: 180px;
      margin-left: 0;
    }
  }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.thread-dump-modal-lock {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* jhipster-needle-scss-add-main JHipster will add new css style */

.responsive-container {
  width: 100%;
  height: 100%;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.important-text {
  font-weight: 600;
  color: $info;
  font-size: 1.3rem;
}

.inline-flex {
  display: flex;
  flex-flow: row;
  place-content: space-evenly;
}

.column-flex {
  display: flex;
  flex-flow: column;
}

.btn-li {
  margin: 2px;
}

.align-center {
  text-align: center;
}

.align-justify {
  text-align: justify;
}

.material-icons {
  font-size: 20px !important;
  line-height: 0 !important;
  position: relative;
  top: 5px;
}

.no-border {
  border: none !important;
}

.no-padding {
  padding: 0px !important;
}

.no-margin {
  margin: 0px !important;
}

.btn-icon {
  color: $text !important;
  font-size: 30px !important;
  border-radius: 30px;
  height: 30px;
  width: 30px;
  line-height: 0;
  padding: 0;
  font-weight: bold;
  span {
    display: flex;
    place-content: center;
    padding-bottom: 5px;
  }
}

.btn-icon:hover {
  color: $text-hover !important;
}

.btn-icon-primary {
  background-color: $primary !important;
}

.btn-icon-primary:hover {
  background-color: $primary-hover !important;
}

.btn-icon-danger {
  background-color: $danger !important;
}

.btn-icon-danger:hover {
  background-color: $danger-hover !important;
}

.btn-icon-secondary {
  background-color: $secondary !important;
}

.btn-icon-secondary:hover {
  background-color: $secondary-hover !important;
}

.btn-icon-info {
  background-color: $info !important;
}

.btn-icon-info:hover {
  background-color: $info-hover !important;
}

.regular-text {
  color: $text;
}

.primary {
  color: $primary;
}

.danger {
  color: $danger;
}

.secondary {
  color: $secondary;
}

.info {
  color: $info;
}

.background-primary {
  background-color: $primary;
}

.background-secondary {
  background-color: $secondary;
}

.background-danger {
  background-color: $danger;
}

.background-info {
  background-color: $info;
}

ul {
  padding-left: 1.5em !important;
}

.btn .btn-sm {
  min-width: 120px;
  min-height: 30px;
  border-radius: 5px;
}

.btn .btn-md {
  min-width: 160px;
  min-height: 30px;
  border-radius: 5px;
}

.btn .btn-lg {
  min-width: 200px;
  min-height: 30px;
  border-radius: 5px;
}

.btn-primary {
  background-color: $primary;
  color: $text;
}

.btn-primary:hover {
  background-color: $primary-hover !important;
  color: $text-hover !important;
}

.btn-secondary {
  background-color: $secondary;
  color: $text;
}

.btn-secondary:hover {
  background-color: $secondary-hover !important;
  color: $text-hover !important;
}

.btn-success {
  background-color: $success;
  color: $text;
}

.btn-success:hover {
  background-color: $success-hover !important;
  color: $text-hover !important;
}

.btn-info {
  background-color: $info;
  color: $text;
}

.btn-info {
  background-color: $info-hover !important;
  color: $text-hover !important;
}

.btn-danger {
  background-color: $danger;
  color: $text;
}

.btn-danger:hover {
  background-color: $danger-hover !important;
  color: $text-hover !important;
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: $text;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}

.close:hover {
  color: $text-hover;
  text-decoration: none;
}

.close:not(:disabled):not(.disabled):hover,
.close:not(:disabled):not(.disabled):focus {
  opacity: 0.75;
}
